body{
  background-color: black;
}
.App{
  background-color: black;
  
  
}
#to-do-form input{
  background-color: rgb(27,112,137);
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}

#to-do-form input:focus{
  outline:none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
}

h1{
  color:white;
}
h2{
  color:white;
  font-size:20px;
  margin-left: 300px;
  
}
button{
  margin:10px;
}
#friends{
  background-color:black;
  border: 3px solid #73AD21;
  position: absolute; bottom: 5px;
  right:5px;
}
#friendsList{
  color:red;
}
h3{
  color:black;
}
input{
  margin:10px;
}
#login{
  position: absolute;
  background-color: black;
  min-height: 500px;
  width:1920px;
  margin: 10px;
  height:900px;

}
#logo{
  position:absolute;
  top:20px;
  left:600px;
}
#userinfo{
  position:absolute;
  top:650px;
  left:600px;
  color:white;
}
#meat{
  margin-left: 300px;
}
#fruits{
  margin-left: 300px;
}
#vegetables{
  margin-left: 300px;
}
#diaryProducts{
  margin-left: 300px;
}