.list{
    color:white;
    width:500px;
    background-color: grey;
    height:30px;
    margin: 20px ;
    border-radius: 5px;
    font-size:12px;
}
.list p{
    padding: 0px;
    font-size: 10px;
}


.list p span{
    position: absolute;
    right: 1200px;
    margin: -5px;
    
}
.list p input{
    background-color: transparent;
    border:0;
    color:white;
    font-size:15px;
}
