.list1{
    color:white;
    width:900px;
    background-color: grey;
    height:30px;
    border-radius: 5px;
    font-size:12px;
}
.list p{
    padding: 0px;
    font-size: 10px;
    margin:0;
}

.list p input{
    background-color: transparent;
    border:0;
    color:white;
    font-size:15px;
    margin-bottom: 0px;
}
